@import "tailwindcss";
*{
  padding: 0%;
  margin: 0%;
}
#con {
    width:100%;
    height: 100%;
    display: block;
    resize: none;
}
.box{
    border-style: var(--tw-border-style);
    border-width: 1px;
    padding: 4px;
    background-color: #777;

}
.head{
  padding-left: 40px;
  color:rgb(227, 219, 204);
}
.navbar{
  padding-bottom: 8px;
  padding-top: 4px;
  
}
#mon {
   margin-top: 19px;
   padding-bottom: 0px;
   padding-left: 13px;
   padding-right: 13px;
   border-radius: 4px;
   background-color: red;
   color:rgb(227, 219, 204);
}
#mon:hover{
  background-color: #c5a7a7;
  color: red;
}