@import "tailwindcss";
*{
  padding: 0%;
  margin: 0%;
}
#con {
    width:100%;
    height: 100%;
    display: block;
    resize: none;
}
.box{
    border-style: var(--tw-border-style);
    border-width: 1px;
    padding: 4px;
    background-color: #777;

}
.head{
  padding-left: 40px;
  color:rgb(227, 219, 204);
}
.navbar{
  padding-bottom: 8px;
  padding-top: 4px;
  
}
.set1 {
   margin-top: 19px;
   padding-bottom: 0px;
   padding-left: 13px;
   padding-right: 13px;
   border-radius: 4px;
   background-color: rgb(186, 17, 17);
   color:rgb(227, 219, 204);
}
.set2 {
   margin-top: 19px;
   padding-bottom: 0px;
   padding-left: 13px;
   padding-right: 13px;
   border-radius: 4px;
   background-color: rgb(186, 17, 17);
   color:rgb(227, 219, 204);
}
#mon:hover{
  background-color: #c5a7a7;
  color: red;
}
#mon:focus{
  background-color: #c5a7a7;
  color:red;
}




#bgHome{
  background-image: url("/src/images/gr3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.msg{
  
  place-items: center;
  align-items: center;
  position: relative;
  top: 50px;
  color: black;
  text-shadow: red 1px 1px 3px;
  display: flex;
  flex-direction: column;

}


@media (max-width: 600px)  {
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  .msg{
    font-size: 1.5rem;
  }
  .navbar{
    
    height: 8.3%;
  }
  .head{
    font-size: 24px;
    padding-left: 6px;
    padding-top: 8px;
  }
  #mon{
  
  font-size: 0.9rem;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 6px;
  
  /*
  position: relative;
  top: -7px;
  gap: 4px;  
*/
  
  }
  .days{
    font-size: 0.57rem;
  }
 .set1{
  position: relative;
    left: 30px;
 }
  
  .set2{
    position: relative;
    left: -185px;
    top: 23px;
  }
}